* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primairy-color: #F9B133;
}

body{
    background: url(../static/images/background.jpg);
    font-family: roboto;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--primairy-color);
}

nav ul li {
    float: left;
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 0.5em 1em;
}

nav ul li img.avatar{
    height: 32px;
}

nav ul li img.language{
    height: 32px;
}

nav ul li.right{
    float: right;
}

.menu{
    height: 32px;
}

div.inner-header{
    display: flex;
    justify-content: space-between;
}

p.raam{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

p.date{
    margin-top: 0.5em;
    text-align: center;
}

div a {
    margin: 1em 0 0 1em;
    font-weight: bold;
}

.gereed{
    background-color: var(--primairy-color);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 0.6em 1.2em;
    margin: 1em 1em 0 0;
}

.smileys{
    margin: 1em auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.smileys img{
    width: 2.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

.gum{
    width: 2.5em;
    display: block;
    margin: 1em auto 1.5em;
}

div.buttons{
    display: flex;
    justify-content: space-around;
}

div.button{
    width: 4em;
}

.button img{
    display: block;
    width: 3.2em;
    padding: 0.5em;
    margin: 0 auto 0.5em;
    background-color: white;
    border: solid 1px #333;
    border-radius: 50%;
}

.button span{
    display: block;
    text-align: center;
    font-size: 15px;
}
