<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>WellBeeing</title>
</head>

<body>
    <form action="" class="sizePicker">
        <input type="number" name="height" class="inputHeight" min="1" value="1">
        <input type="number" name="width" class="inputWidth" min="1" value="1">
        <input type="submit">
    </form>

    <input type="color" class="colorPicker">

    <table class="pixelCanvas"></table>
    <script src="../static/script.js"></script>
</body>

</html>