<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/beep_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>WellBeeing</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><img src="../static/images/menu.svg" alt="" class="menu"></li>
                <li>Inspecties</li>
                <li class="right"><img src="../static/images/language.jpg" alt="" class="language"></li>
                <li class="right"><img src="../static/images/avatar.jpg" alt="" class="avatar"></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="inner-header">
            <a>&lt Terug</a>
            <button class="gereed">Gereed</button>
        </div>
        <p class="raam">&lt Raam 1 &gt</p>
        <p class="date">Eerste inspectie</p>
        <div class="smileys">
            <img src="../static/images/happy.png" alt="">
            <img src="../static/images/okay.png" alt="">
            <img src="../static/images/sad.png" alt="">
        </div>

    </main>
    <table class="pixelCanvas"></table>

    <img src="../static/images/eraser.svg" alt="" class="gum">

    <div class="buttons">
        <div class="button">
            <img src="../static/images/queen.svg" alt="" class="koninginnencel">
            <span>Koningin</span>
        </div>
        <div class="button">
            <img src="../static/images/bee.svg" alt="" class="broed">
            <span>Broed</span>
        </div>
        <div class="button">
            <img src="../static/images/nectar.svg" alt="" class="nectar">
            <span>Nectar</span>
        </div>
        <div class="button">
            <img src="../static/images/honing.svg" alt="" class="honing">
            <span>Honing</span>
        </div>
        <div class="button">
            <img src="../static/images/stuifmeel.svg" alt="" class="stuifmeel">
            <span>Stuifmeel</span>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>